*{
    font-family: Arial, Helvetica, sans-serif;
  }
  #main{box-sizing: border-box;
    margin-top: 2rem;
  }
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {
      display: none;
      
  }
  img {
      vertical-align: middle;
      height: 18rem;
  }
  
  
  .slideshow-container {
    max-width: 67rem;
   
    position: relative;
    margin: auto;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 50%;
  }
  
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  #dot{
      margin-top: -1.2rem;
  }
  .active, .dot:hover {
    background-color: #5d0aca;
  }
  
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
  #logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    
    width: 67rem;
    margin-left: 9.1rem;
    height: 13rem;
  }
  #logos>div{
    
    cursor: pointer;
    height: 5.5rem;
    width: 9rem;
  }
  #logos>div>img{
    margin-left: 3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
  p{
    text-align: center;
    font-size: .75rem;
    font-weight: 500;
  }
  #divcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    width: 67rem;
   
    margin-left: 9.1rem;
    grid-gap: 1rem;
  }
  #divcontainer>div{
    display: flex;
    border: 1px solid rgb(153, 149, 149);
    width: 31.8rem ;
    height: 12rem;
    margin-left: .5rem;
    
  }
  .img2{
    padding: 1rem;
    width: 10rem;
    height: 10rem;
   
  }
  
  .img2:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    100% { transform: translate(5px, -2px) rotate(0deg); }
  }
  .div3{
    
    
    width: 20rem;
    height: 12rem;
    
  }
  h5{
   margin-top: -1rem;
   font-weight: 600;
  }
  h3{
    margin-top: -1.5rem;
    color: #ed0833;
   }
   .div4{
     margin-top: 2.2rem;
   }
   .div4>p{
     text-align: left;
     line-height: .5rem;
     font-size: .8rem;
     color: rgb(99, 94, 94);
     font-weight: 500;
   }
   .div4>p>p{
    font-size: .5rem;
   }
   .div5{
     border: 1px solid #ed0833;
     width: 14.5rem;
     background-color: #ed0833;
     height: .55rem;
     margin-left: 4.3rem;
     margin-top: -1.3rem;
     border-radius: .5rem;
   }
   .div6{
     display: flex;
     
     width: 18.8rem;
     height: 2rem;
     margin-top: 2rem;
     
   }
   .div61{
     border: 2px solid #ed0833;
     border-style: dashed;
     border-right: none;
     color: #ed0833;
     width: 13rem;
     text-align: center;
     padding: .3rem;
     background-color: #e5e5e5;
   }
   .div62{
    border: 1px solid #ed0833;
    background-color: #ed0833;
    width: 5.8rem;
    text-align: center;
    color: white;
    padding: .3rem;
  }
  a{
    margin-left: 40rem;
    font-size: .9rem;
    text-decoration: none;
  }
  
  /* ********************** */
  
    
  #footer{
    width: 100%;
    
    padding-top: 50px;
    display: flex;
    margin-top: 8rem;
    }
    #footer>div{
    
    width: 100%;
    
    }
    #social{
    
    display: flex;
    
    
    }
    #social>div{
    /* border: 1px solid; */
    width: 100%;
    height: 50px;
    
    gap: 30px;
    }
    .social_gap>i{
    margin-left: 20px;
    
    }
    .social_gap>div>i{
    margin-left: 20px;
   
    }
    .social_gap{
    display: flex;
    gap: 30px;
    }
    
    #help{
    display: flex;
    margin-left:30px;
    
    
    }
    #help>div{
    width: 30%;
    
    font-size: 13px;
    }
    #help>div>p{
      text-align: left;
    }
   
    #scribe{
    width: 350px;
    height: 25px;
    font-size: 13px;
    margin-left: 1.8rem;
    } 
    #footer>div>button{
    width: 120px;
    
    margin-left: -4px;
    border: none;
    
    background-color: #074ea3;
    color: white;
    
    } 
    #hr1>hr{
    border: none;
    }
    #marginleft{
    margin-left: 100px;
    }
    #text{
    width: 75%;
    /* line-height: ; */
    font-size: 13px;
    text-align: left;
    }
    #peo{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    
    }
    #peopler_search{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    
    
    }
    #peopler_search>button{
    gap: 30px;
    /* border: 1px solid blue; */
    height: 1.5rem;
    margin-left: .5rem;
    background-color: rgb(236, 231, 231);
    border: none;
    cursor: pointer;
    
    }
    button:hover{
       color: blue;
    }
    #lang{
    
    margin: auto;
    margin-left: 200px;
    margin-top: 20px;
    font-weight: 600;
    color: grey;
    }
    #pay{
    margin-left: 100px;
    margin-top: 30px;
    
    }
    #pay>img{
       width: 70rem;
       height: 1.8rem;
       
    }
    
    
    
    
    /* product css */
    
    #printdata{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        gap: 20px;
    
    } 
   
    .image>img{
        width: 100%;
        /* border: 5px solid red; */
        height: 400px;
    }
    #buybtn{
        color: white;
        background-color: tomato;
        width: 70px;
        height: 25px;
    }
    #geek_buying{
         margin-left: 2rem;
    }
    h4{
      
       font-size: .85rem;
    }
    
    /* ***********navbar********* */
  
    #tonavimg{
      width: 100%;
      margin-left: 0rem;
      margin-top: -.48rem;
      height: 5rem;
     object-fit: cover;
      
    }
    #secondnav{
      margin-left: 40%;
      /* display: flex; */
     margin-top: -.2rem;
      background-color: white;
      margin-left: 42rem;
      
    }
    
    /*search_bar */
    #secondnav>div{
      gap: 50px;
      margin-top: 10px;
    }
    #second1{
      display: flex;
      
    }
    #navimg{
      
      display: flex;
      justify-content: space-evenly;
      
      
    }
    #navimg>div>img{
      width: 30px;
      height: 20px;
    
    }
    #iconmob{
      font-size: 30px;
      margin-right: -25px;
      margin-top: -7px;
      
    }
    
    /* dropdown */
    
    .dropdown {
    position: relative;
    /* display: inline-block; */
    
    display: flex;
    margin-left: -1.5rem;
    
    
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
    
    
    }
    .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    overflow: scroll;
    width: 70px;
    height: 300px;
    margin-left: -40px;
    
    }
    .dropdown:hover .dropdown-content1 {
    display: block;
    }
    
    
    .dropdown:hover .dropdown-content {
    display: block;
    }
    #barcode{
    display: flex;
    }
    #country_select>img{
    width: 30px;
    height: 20px;
    margin-top: -.2rem;
    }
    #country_select{
    width: 250px;
    height: 30px;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
    /* margin-left: -300px; */
    
    }
    
    #country_select>p{
    margin-top: 5px;
    margin-left: -50px;
    
    }
    #country_select>select{
    border: none;
    
    }
    #currency{
    width: 250px;
    height: 30px;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
    }
    #currency>select{
    border: none
    }
    #currency>p{
    /* margin-top: 5px; */
    margin-left: 0px;
    
    }
    #doller{
    width: 300px;
    height: 300px;
    /* border: 1px solid red; */
    }
    .dropdown-content>div{
    display: flex;
    gap: 15px;
    }
    .dropdown-content>div>i{
    margin-top: 18px;
    }
    
    
    
    /* onclick drop down bar */
    .dropbtn2 {
    background-color:white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
    }
    .dropbtn{
    background-color: white;
    border: none;
    /* margin-left: 5px; */
    margin-top: 7px;
    width: 8rem;
    
    }
    .dropbtn1{
    background-color: white;
    border: none;
    margin-left: 5px;
    /* margin-top: -10px; */
    }
    #save{
    color: white;
    background-color: #ff9c01;
    float: right;
    width: 60px;
    height: 25px;
    margin-top: 5px;
    border-radius: 3px;
    
    }
    
    /* .dropbtn2:hover, .dropbtn2:focus {
    background-color: #2980B9;
    } */
    
    .dropdown2 {
    position: relative;
    display: inline-block;
    border: 1px solid rgb(63, 18, 170);
    /* border-right: none; */
    height: 24px;
    width: 12rem;
    border-radius: 5px 0px 0px 5px;
    
    
    }
    
    .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* width: 500px; */
    margin-top: 10px;
    font-size: 12px;
    /* display: flex; */
    }
    #down{
    display: flex;
    width: 350px;
    }
    
    .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    }
    
    /* .dropdown2 a:hover {background-color: #ddd;} */
    
    .show {display: block;}
    
    /* ---------------------------> */
    
    /* search nav bar --------------------> */
    #navbartwo{
    width: 90%;
    height: 60px;
    
    display: flex;
    margin-top: -10px;
    /* position: fixed; */
    background-color: white;
    /* justify-content: space-between */
    margin-left: 8rem;
   
    }
    #navbartwo>div>img{
    width: 150px;
    height: 75px;
    /* margin-top: -100px; */
    /* border: 1px solid black; */
    margin-top: 3px;
    margin-left: 4rem;
    
    }
    #navbartwo>div:nth-child(2){
    width: 100px;
    height: 30px;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 30px;
    
    }
    /* search_bar */
    
    #query{
    margin-top: 20px;
    height: 28px;
    width: 340px;
    
    
    border: 1px solid rgb(63, 18, 170);
    
    border-left: none;
    
    
    /* margin-left: -100px; */
    }
    #query::placeholder{
      font-size: .8rem;
      margin-right: 12rem;
    }
    .search{
    border: 1px solid #074ea3;
    margin-top: 20px;
    font-size: 18px;
    width: 45px;
    height: 28px;
    padding-left: 10px;
    border-radius: 0px 5px 5px 0px;
    
    color: white;
    background-color: #074ea3;
    
    padding-top: 2px;
    }
    #user{
    display: flex;
    margin-top: 20px;
    /* margin-left: 75px; */
    margin-left: -33rem;
    
    text-decoration: none;
    
    
    }
    #user>a>i{
    font-size: 25px;
    color: black;
    text-decoration: none;
    }#user>p{
      color: black;
      font-size: 13px;
    text-decoration: none;
    }
    #wish{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: none;
    
    
    }
    #wish{
    display: flex;
    text-decoration: none;
    margin-left: .5rem;
    margin-left: -68.5rem;
    }
    #wish>a>i{
    font-size: 25px;
    color: black;
    text-decoration: none;
    }
    #wish>p{
      font-size: 8px;
    margin-left: 6px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    }
    .decarution{
      
      /* color: black; */
      font-size: 25px;
      text-decoration: none;
    }
    #cart{
    display: flex;
    margin-top: 20px;
    /* margin-left: 30px; */
    text-decoration: none;
    margin-left: .6rem;
    margin-left: -103rem;
    
    
    }
      
    #cart>i{
    font-size: 24px;
    /* color: black; */
    text-decoration: none;
    }
    #cart>div>p:first-child{
      color: black;
    margin-top: -5px;
    
    
    width: 15px;
    height: 15px;
    font-size: 15px;
    text-decoration: none;
    /* border: 1px solid black; */
    padding-left: 8px;
    border-radius: 50%;
    color: white;
    background-color:#ffd068 ;
    
    }
    /* #show{
      margin-top: 100px;
    } */
    #cart>div>p:last-child{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 12px;
    color: black;
    
    padding-left: 5px;
    text-decoration: none;
    }
    
    /* ------------------------------------------------------> */
    /* menue dropdown */
    .dropdown3 {
    position: relative;
    display: inline-block;
    }
    
    
    
    .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 20px;
    font-size: 13px;
    /* width: 1500px; */
    /* height: 200px; */
    }
    
    .dropdown3:hover .dropdown-content3 {
    display: block;
    }
    /* .dropdown-content3>div>a{
    text-decoration: none;
    gap: 100px;
    } */
    #new{
      margin-left: 1.5rem;
      display: flex;
      
    }
    #new>a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    /* justify-content: space-between; */
    margin-right: 20px;
    margin-left: 0rem;
    
    }
    #shop{
    width: 60%;
    height: 40px;
    /* border:  1px solid blue; */
    margin-left: 100px;
    display: flex;
    gap: 30px;
    margin-top: 10px;
    font-weight: 600;
    }
    
    .dropdown4 {
    position: relative;
    display: inline-block;
    }
    
    .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: 130px;
    margin-top: -30px;
    
    /* border: 1px solid red; */
    /* display: flex; */
    }
    
    .dropdown4:hover .dropdown-content4 {
    display: block;
    }
    .fade{
    font-size: 13px;
    color: #666666;
    margin-top: -15px;
    }
    #drp4{
    display: flex;
    /* margin-left: 600px; */
    }
    #drp4>div>img{
    /* display: flex; */
    margin-left: 200px;
    }
    .carousel-inner{
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .dropdown>span{
      font-size: .75rem;
      color: rgb(99, 96, 96);
      
    
     
      
    }
    #img333{
      margin-top: 0rem;
      margin-left: 0rem;
      padding-right: .5rem;
    }
    #img555{
      width: .7rem;
      height: .7rem;
      margin-top: -.8rem;
      margin-left: .1rem;
    }
    
    
    