.box3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid black; */
    background-color: blueviolet;
    
}


img{
   
    height:280px;
    width:280px;


   
}
#btn{
    height:40px;
    width:60%;
    border-radius: 6px;;
    font-size: 18px;
    font-family: sans-serif;
    background-color:blue;
border: none;;
} 
#circle{
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:yellow;
    border: 1px solid yellow;
    padding-left:13px;
    padding-top: 15px;;
}

#divright{
 
    justify-content: flex-end;
    margin-left: 50%;;
    margin-right: 10%;;
    margin-top: -40%;;
    height:300px;
    width:50%;
    /* border: 1px solid black; */
}

#divmain{
    height:400px;
    /* width:100%; */
    /* border: 1px solid teal; */
    /* gap:30px; */
    margin-right: 40px;;
    background-color: #FFFFFF;
    margin-bottom: 40px;;
}
#pricediv{
    display: flex;;
}

#wishlistbtn{
    border: 0px;
    /* background-color: white;  */
    margin: 10px 0 0 0 ;
    }
    #divwish{
      display: flex;;
    }

    #img1{
        width:100%;
        height:400px;
        margin-top:-10px;
        margin-right: -5px;;
    } 
    #img2{
        width:100%;
        height:500px;
        margin-top:-10px;
        margin-right: -5px;;
    }
#img3{
width:100%;
        height:600px;
        margin-top:-10px;
        margin-right: -5px;;
} 

#counter{
    margin-top:10px;
}