html{
    font-size: 100%;
  }
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  nav ul{
    /* background: #1b1b1b; */
    /* height: 100%;
    width: 100%; */
    list-style: none;
  }
  nav ul li{
    line-height: 30px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  
  nav ul li a{
    position: relative;
    color: rgb(37, 32, 32);
    text-decoration: none;
    font-size: .9rem;
    /* margin-right: 2rem; */
   
   
    display: block;
    
    /* border-left: 3px solid transparent; */
  }
  
  
  nav ul ul{
    position: static;
    display: none;
  }
  nav ul .feat-show.show11{
    display: block;
  }
  nav ul .serv-show.show1{
    display: block;
  }
  nav ul .new-show.show2{
    display: block;
  }
  nav ul ul li{
    line-height: 18px;
    border-top: none;
  }
  nav ul ul li a{
    font-size: .9rem;
    color: black;
    
  }
  
  nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    /* transition: transform 0.4s; */
  }
  /* nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
  } */
  #first{
     
    background-image: url("https://www.netapp.com/media/Legal_Page_Header_1880x264-2_tcm19-7647.jpg?v=12670");
    height: 9.1rem;
    width: 100%;
    margin-top: -2rem;
  
  }
  #first>h2{
     text-align: center;
     padding-top: 3.5rem;
     font-size: 1.7rem;
     
  }
  #filter{
     display: flex;
     margin-left: 8rem;
     gap: .8rem;
     margin-top: .8rem;
    
  }
  #filter1{
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 15rem;
    
    height: 22.5rem;
    overflow: hidden;
    
    
  }
  
  ul>li>a{
    margin-left: -2rem;
    line-height: 1.5rem;
  }
  nav>a{
    text-decoration: none;
    font-size: 13.5px;
    color: black;
    font-weight: 600;
    margin-top: 5rem;
    margin-left: .7rem;
  }
  
  #filter2{
    line-height: 1.3rem;
    width: 52rem;
    
    
  }
  #filter11{
    display: grid;
    /* border: 1px solid black; */
    height: 8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  #filter22{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
     height: auto;
     
    margin-top: .8rem;
    grid-gap: 1.8rem;
  }
  #filter22>div{
  
    /* border: 1px solid black; */
    width: 16rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    line-height: .8rem;
    
   
  }
  .strike{
    margin-top: -.7rem;
    font-size: .78rem;
  }
  #imgbody{
    width: 12rem;
    margin-left: 1.5rem;
    margin-top: -4rem;
   cursor: pointer;
   
    
  }
  p{
    font-size: .75rem;
    margin-left: .6rem;
    cursor: pointer;
  }
  h3{
    margin-left: .6rem;
    margin-top: .5rem;
  }
  
  .newimgg{
    width: 6rem;
    margin-left: 10rem;
   
    margin-top: 0rem;
    
  }
  /* #filter11>div{
   
    border: 1px solid grey;
    width: 4rem;
    height: 1.5rem;
    margin-top: .5rem;
    
  } */
  .p55{
    font-size: .9rem;
    color: grey;
   
  }
  .p22{
    margin: auto;
    margin-top: .3rem;
    margin-left: .2rem;
    margin-bottom: 1rem;
  }
  #wishheart{
   
    margin-left: 1rem;
    margin-top: .2rem;
    cursor: pointer;
  }
  #free{
    margin-left: 10rem;
    margin-top: -1.6rem;
   
  }
  #day{
    display: flex;
    gap: .5rem;
  
    
  }
  #day>div{
   
    border: 1px solid rgb(136, 135, 135);
    width: 3.2rem;
    height: 1.5rem;
    margin-top: .5rem;
    
  }
  #opt{
     display: flex;
     gap: 0rem;
  }
  #opt>select{
     width: 12.2rem;
     height: 1.8rem;
     margin-top: .2rem;
     /* margin-left: 1.2rem; */
  }
  #opt>p{
    margin-top: .5rem;
  }
  option>img{
    width: 10px;
    height: 10px;
  }
  option>div{
    border: 1px solid black;
    width: 10px;
    height: 10px;
  }
  input{
    width: 4rem;
    height: 1.5rem;
  }
  ::placeholder{
       font-size: 1rem;
       text-align: center;
  }
  
  form{
    display: flex;
    gap: .2rem;
  }
  .sale>p{
    font-size: .8rem;
    margin-top: .35rem;
    gap: 1rem;
    margin-left: 3rem;
  }
  .sale1>p{
    font-size: .8rem;
    margin-top: .35rem;
  }
  #dash{
    font-size: .8rem;
    
  }
  #sort{
    margin-top: -.9rem;
  }
  #sort>div{
    margin-left: 5rem;
    margin-top: -2.3rem;
  }
  #sort>div>button{
    background-color: white;
    border: 1px solid grey;
    height: 1.7rem;
    cursor: pointer;
  }
  .h33{
    margin-left: 8rem;
  }
  
  #mulopt{
       margin-left: 39rem;
       margin-top: 5rem;
      
  }
  #mulopt>input{
    width: 1.6rem;
    height: 1.8rem;
    margin-left: .5rem;
  }
  #div2{
    display: flex;
  }
  #counter{
    margin-top: .3rem;
  }
  #slideshow-container11{
    display: flex;
    border: 1px solid black;
    width: 67rem;
    height: 20rem;
    margin-left: 8rem;
    overflow-x: scroll;
    overflow-y: hidden;
    
    gap: .9rem;
   
  }
  #slideshow-container11>div{
    height: 15rem;
    padding: 1.75rem;
    gap: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  #image1{
      width: 7rem;
      height: 8rem;
      margin-top: 1rem;
      margin-right: .5rem;
  }
  #div3{
     display: flex;
  }
  #arrow{
    display: flex;
    margin-top: -12rem;
    margin-left: 8.5rem;
    gap: 63rem;
    font-size: 3rem;
    color: aliceblue;
  }
  .prev:hover, .next:hover {
        background-color: black;
        border-radius: 50%;
  }
  .btn {
     display: flex;
     gap: 3rem;
     justify-content: space-between;
    color: black;
    background-color: white;
    width: 12rem;
    padding: .4rem;
   border-color: grey;
   border: 1px solid rgb(168, 166, 166);
   cursor: pointer;
  }
  
  .dropdown11 {
    position: absolute;
    display: inline-block;
    
  }
  
  .dropdown-content11 {
    display: none;
    line-height: .5rem;
    position: absolute;
    background-color: white;
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
    
  }
  
  .dropdown-content11 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content11 a:hover {
    background-color: #ddd;
    
  }
  
  .dropdown11:hover .dropdown-content11 {
    display: block;
    
  }
  
  /* .btn:hover, .dropdown:hover .btn {
    
  } */
  
  /* #slider53{
      margin-top: -360rem;
      
    
  } */
  /* #photo{
    width: 1.8rem;
    height: 1.2rem;
    margin-left: -.2rem;
  } */
  #star{
    font-size: 1rem;
    word-spacing: 2rem;
  }
  #img88{
    width: 1rem;
    height: 1rem;
    margin-left: 3rem;
    
  }
  #img91{
    width: 1rem;
    height: 1rem;
    margin-left: 3.3rem;
    
  }
  #img92{
    width: 1rem;
    height: 1rem;
    margin-left: 4.8rem;
    
  }
  #img93{
    width: 1rem;
    height: 1rem;
    margin-left:  1.15rem;
    
  }
  #img94{
    width: 1rem;
    height: 1rem;
    margin-left: 4.9rem;
    
  }
  #img95{
    width: 1rem;
    height: 1rem;
    margin-left: 6rem;
    
  }
  #img96{
    width: 1rem;
    height: 1rem;
    margin-left: 5.3rem;
    
  }
  #img97{
    width: 1rem;
    height: 1rem;
    margin-left: 3.3rem;
    
  }
  #img98{
    width: 1rem;
    height: 1rem;
    margin-left: 9rem;
    
  }
  #img99{
    width: 1rem;
    height: 1rem;
    margin-left: 1.3rem;
    
  }
  #btn12{
    text-decoration: none;
    color: black;
  }
  /* #btn12:hover{
    color: blue;
  } */
  #line88{
        border: 1px solid black;
  }
  #kypn>select{
    width: 11rem;
    height: 1.8rem;
    margin-top: .2rem;
    margin-left: .5rem;
    font-size: 1rem;
    line-height: 2rem;
  }
  
  @media(max-width:1008px){
    html{
      font-size: 55%;
    
    }
  }
  @media(max-width:768px){
    html{
      font-size: 45%;
    }
  }
  @media(max-width:320px){
    html{
      font-size: 5%;
    }
  }
  
  
  /* ***********************nav bar .......... */
  #tonavimg{
    width: 100%;
    margin-left: 0rem;
    margin-top: -.48rem;
    height: 5rem;
   object-fit: cover;
    
  }
  #secondnav{
    margin-left: 40%;
    /* display: flex; */
   margin-top: -.2rem;
    background-color: white;
    margin-left: 42rem;
    
  }
  
  /*search_bar */
  #secondnav>div{
    gap: 50px;
    margin-top: 10px;
  }
  #second1{
    display: flex;
    
  }
  #navimg{
    
    display: flex;
    justify-content: space-evenly;
    
    
  }
  #navimg>div>img{
    width: 30px;
    height: 20px;
  
  }
  #iconmob{
    font-size: 30px;
    margin-right: -25px;
    margin-top: -7px;
    
  }
  
  /* dropdown */
  
  .dropdown {
  position: relative;
  /* display: inline-block; */
  
  display: flex;
  margin-left: -1.5rem;
  
  
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  
  
  
  }
  .dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  overflow: scroll;
  width: 70px;
  height: 300px;
  margin-left: -40px;
  
  }
  .dropdown:hover .dropdown-content1 {
  display: block;
  }
  
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  #barcode{
  display: flex;
  }
  #country_select>img{
  width: 30px;
  height: 20px;
  margin-top: -.2rem;
  }
  #country_select{
  width: 250px;
  height: 30px;
  /* border: 1px solid grey; */
  display: flex;
  justify-content: space-between;
  /* margin-left: -300px; */
  
  }
  
  #country_select>p{
  margin-top: 5px;
  margin-left: -50px;
  
  }
  #country_select>select{
  border: none;
  
  }
  #currency{
  width: 250px;
  height: 30px;
  /* border: 1px solid grey; */
  display: flex;
  justify-content: space-between;
  }
  #currency>select{
  border: none
  }
  #currency>p{
  /* margin-top: 5px; */
  margin-left: 0px;
  
  }
  #doller{
  width: 300px;
  height: 300px;
  /* border: 1px solid red; */
  }
  .dropdown-content>div{
  display: flex;
  gap: 15px;
  }
  .dropdown-content>div>i{
  margin-top: 18px;
  }
  
  
  
  /* onclick drop down bar */
  .dropbtn2 {
  background-color:white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
  }
  .dropbtn{
  background-color: white;
  border: none;
  /* margin-left: 5px; */
  margin-top: 7px;
  width: 8rem;
  
  }
  .dropbtn1{
  background-color: white;
  border: none;
  margin-left: 5px;
  /* margin-top: -10px; */
  }
  #save{
  color: white;
  background-color: #ff9c01;
  float: right;
  width: 60px;
  height: 25px;
  margin-top: 5px;
  border-radius: 3px;
  
  }
  
  /* .dropbtn2:hover, .dropbtn2:focus {
  background-color: #2980B9;
  } */
  
  .dropdown2 {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(63, 18, 170);
  /* border-right: none; */
  height: 24px;
  width: 12rem;
  border-radius: 5px 0px 0px 5px;
  
  
  }
  
  .dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* width: 500px; */
  margin-top: 10px;
  font-size: 12px;
  /* display: flex; */
  }
  #down{
  display: flex;
  width: 350px;
  }
  
  .dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
  }
  
  /* .dropdown2 a:hover {background-color: #ddd;} */
  
  .show {display: block;}
  
  /* ---------------------------> */
  
  /* search nav bar --------------------> */
  #navbartwo{
  width: 90%;
  height: 60px;
  /* border: 1px solid red; */
  display: flex;
  margin-top: -10px;
  /* position: fixed; */
  background-color: white;
  /* justify-content: space-between */
  margin-left: 8rem;
   
  }
  #navbartwo>div>img{
  width: 150px;
  height: 75px;
  /* margin-top: -100px; */
  /* border: 1px solid black; */
  margin-top: 0px;
  
  }
  #navbartwo>div:nth-child(2){
  width: 100px;
  height: 30px;
  /* border: 1px solid black; */
  margin-top: 20px;
  margin-left: 30px;
  
  }
  /* search_bar */
  
  #query{
  margin-top: 20px;
  height: 28px;
  width: 340px;
  
  
  border: 1px solid rgb(63, 18, 170);
  
  border-left: none;
  
  
  /* margin-left: -100px; */
  }
  #query::placeholder{
    font-size: .8rem;
    margin-right: 12rem;
  }
  .search{
  border: 1px solid #074ea3;
  margin-top: 20px;
  font-size: 18px;
  width: 45px;
  height: 28px;
  padding-left: 10px;
  border-radius: 0px 5px 5px 0px;
  
  color: white;
  background-color: #074ea3;
  
  padding-top: 2px;
  }
  #user{
  display: flex;
  margin-top: 20px;
  margin-left: 75px;
  
  
  text-decoration: none;
  
  
  }
  #user>a>i{
  font-size: 25px;
  color: black;
  text-decoration: none;
  }#user>p{
    color: black;
    font-size: 13px;
  text-decoration: none;
  }
  #wish{
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
  text-decoration: none;
  }
  #wish{
  display: flex;
  text-decoration: none;
  margin-left: .5rem;
  }
  #wish>a>i{
  font-size: 25px;
  color: black;
  text-decoration: none;
  }
  #wish>p{
    font-size: 8px;
  margin-left: 6px;
  text-decoration: none;
  color: black;
  font-size: 13px;
  }
  .decarution{
    
    /* color: black; */
    font-size: 25px;
    text-decoration: none;
  }
  #cart{
  display: flex;
  margin-top: 20px;
  /* margin-left: 30px; */
  text-decoration: none;
  margin-left: .6rem;
  
  }
    
  #cart>i{
  font-size: 24px;
  /* color: black; */
  text-decoration: none;
  }
  #cart>div>p:first-child{
    color: black;
  margin-top: -5px;
  
  
  width: 15px;
  height: 15px;
  font-size: 15px;
  text-decoration: none;
  /* border: 1px solid black; */
  padding-left: 8px;
  border-radius: 50%;
  color: white;
  background-color:#ffd068 ;
  
  }
  /* #show{
    margin-top: 100px;
  } */
  #cart>div>p:last-child{
  margin-top: -10px;
  margin-left: 10px;
  font-size: 12px;
  color: black;
  
  padding-left: 5px;
  text-decoration: none;
  }
  
  /* ------------------------------------------------------> */
  /* menue dropdown */
  .dropdown3 {
  position: relative;
  display: inline-block;
  }
  
  
  
  .dropdown-content3 {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 20px;
  font-size: 13px;
  /* width: 1500px; */
  /* height: 200px; */
  }
  
  .dropdown3:hover .dropdown-content3 {
  display: block;
  }
  /* .dropdown-content3>div>a{
  text-decoration: none;
  gap: 100px;
  } */
  #new{
    margin-left: 1.5rem;
  }
  #new>a{
  text-decoration: none;
  color: black;
  font-size: 13px;
  /* justify-content: space-between; */
  margin-right: 20px;
  
  }
  #shop{
  width: 60%;
  height: 40px;
  /* border:  1px solid blue; */
  margin-left: 100px;
  display: flex;
  gap: 30px;
  margin-top: 10px;
  font-weight: 600;
  }
  
  .dropdown4 {
  position: relative;
  display: inline-block;
  }
  
  .dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 130px;
  margin-top: -30px;
  
  /* border: 1px solid red; */
  /* display: flex; */
  }
  
  .dropdown4:hover .dropdown-content4 {
  display: block;
  }
  .fade{
  font-size: 13px;
  color: #666666;
  margin-top: -15px;
  }
  #drp4{
  display: flex;
  /* margin-left: 600px; */
  }
  #drp4>div>img{
  /* display: flex; */
  margin-left: 200px;
  }
  .carousel-inner{
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .dropdown>span{
    font-size: .75rem;
    color: rgb(99, 96, 96);
    
  
   
    
  }
  #img333{
    margin-top: 0rem;
    margin-left: 0rem;
    padding-right: .5rem;
  }
  #img555{
    width: .7rem;
    height: .7rem;
    margin-top: -.8rem;
    margin-left: .1rem;
  }
  
  
  