*{
    font-family: Arial, Helvetica, sans-serif;
  }
  nav ul{
    /* background: #1b1b1b; */
    /* height: 100%;
    width: 100%; */
    list-style: none;
  }
  nav ul li{
    line-height: 30px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  
  nav ul li a{
    position: relative;
    color: rgb(37, 32, 32);
    text-decoration: none;
    font-size: .9rem;
    /* margin-right: 2rem; */
   
   
    display: block;
    
    /* border-left: 3px solid transparent; */
  }
  
  
  nav ul ul{
    position: static;
    display: none;
  }
  nav ul .feat-show.show{
    display: block;
  }
  nav ul .serv-show.show1{
    display: block;
  }
  nav ul .new-show.show2{
    display: block;
  }
  nav ul ul li{
    line-height: 18px;
    border-top: none;
  }
  nav ul ul li a{
    font-size: .9rem;
    color: black;
    
  }
  
  nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    /* transition: transform 0.4s; */
  }
  /* nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
  } */
  #first{
     
    background-image: url("https://www.netapp.com/media/Legal_Page_Header_1880x264-2_tcm19-7647.jpg?v=12670");
    height: 9.1rem;
    width: 100%;
  
  }
  #first>h2{
     text-align: center;
     padding-top: 3.5rem;
     font-size: 1.7rem;
     
  }
  #filter{
     display: flex;
     margin-left: 8rem;
     gap: .8rem;
     margin-top: .8rem;
    
  }
  #filter1{
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 15rem;
    
    height: 22.5rem;
    overflow: hidden;
    
    
  }
  
  ul>li>a{
    margin-left: -2rem;
  }
  nav>a{
    text-decoration: none;
    font-size: 13.5px;
    color: black;
    font-weight: 600;
    margin-top: 5rem;
    margin-left: .7rem;
  }
  span{
    color: grey;
   
  }
  #filter2{
    line-height: 1.3rem;
    width: 52rem;
    
  }
  #filter11{
    display: grid;
    /* border: 1px solid black; */
    height: 8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  #filter22{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
     height: auto;
     
    margin-top: .8rem;
    grid-gap: 1.8rem;
  }
  #filter22>div{
  
    /* border: 1px solid black; */
    width: 16rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    line-height: .8rem;
    
   
  }
  .strike{
    margin-top: -.7rem;
    font-size: .78rem;
  }
  img{
    width: 12rem;
    margin-left: 1.5rem;
   cursor: pointer;
   margin-top: -4.50rem;
    
  }
  p{
    font-size: .75rem;
    margin-left: .6rem;
    cursor: pointer;
  }
  h3{
    margin-left: .6rem;
    margin-top: .5rem;
  }
  
  .newimgg{
    width: 6rem;
    margin-left: 10rem;
   
    margin-top: 0rem;
    
  }
  /* #filter11>div{
   
    border: 1px solid grey;
    width: 4rem;
    height: 1.5rem;
    margin-top: .5rem;
    
  } */
  .p1{
    font-size: .9rem;
    color: grey;
   
  }
  .p2{
    margin: auto;
    margin-top: .3rem;
    margin-left: .2rem;
    margin-bottom: 1rem;
  }
  #wishheart{
   
    margin-left: 1rem;
    margin-top: .2rem;
    cursor: pointer;
  }
  #free{
    margin-left: 10rem;
    margin-top: -1.6rem;
   
  }
  #day{
    display: flex;
    gap: .5rem;
  
    
  }
  #day>div{
   
    border: 1px solid rgb(136, 135, 135);
    width: 3.2rem;
    height: 1.5rem;
    margin-top: .5rem;
    
  }
  #opt{
     display: flex;
     gap: 1rem;
  }
  #opt>select{
     width: 12.2rem;
     height: 1.8rem;
     margin-top: .2rem;
     /* margin-left: 1.2rem; */
  }
  #opt>p{
    margin-top: .5rem;
  }
  option>img{
    width: 10px;
    height: 10px;
  }
  option>div{
    border: 1px solid black;
    width: 10px;
    height: 10px;
  }
  input{
    width: 4rem;
    height: 1.5rem;
  }
  ::placeholder{
       font-size: 1rem;
       text-align: center;
  }
  
  form{
    display: flex;
    gap: .2rem;
  }
  .sale>p{
    font-size: .8rem;
    margin-top: .35rem;
    gap: 1rem;
    margin-left: 13rem;
  }
  .sale1>p{
    font-size: .8rem;
    margin-top: .35rem;
  }
  #dash{
    font-size: .8rem;
    
  }
  #sort{
    margin-top: -.9rem;
  }
  #sort>div{
    margin-left: 5rem;
    margin-top: -2.3rem;
  }
  #sort>div>button{
    background-color: white;
    border: 1px solid grey;
    height: 1.7rem;
    cursor: pointer;
  }
  .h33{
    margin-left: 8rem;
  }
  
  #mulopt{
       margin-left: 39rem;
       margin-top: 5rem;
      
  }
  #mulopt>input{
    width: 1.6rem;
    height: 1.8rem;
    margin-left: .5rem;
  }
  #div2{
    display: flex;
  }
  #counter{
    margin-top: .3rem;
  }
  #slideshow-container{
    display: flex;
    border: 1px solid black;
    width: 67rem;
    height: 20rem;
    margin-left: 8rem;
    overflow-x: scroll;
    overflow-y: hidden;
    
    gap: .9rem;
   
  }
  #slideshow-container>div{
    height: 15rem;
    padding: 1.75rem;
    gap: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  #image1{
      width: 7rem;
      height: 8rem;
      margin-top: 1rem;
      margin-right: .5rem;
  }
  #div3{
     display: flex;
  }
  #arrow{
    display: flex;
    margin-top: -12rem;
    margin-left: 8.5rem;
    gap: 63rem;
    font-size: 3rem;
    color: aliceblue;
  }
  .prev:hover, .next:hover {
        background-color: black;
        border-radius: 50%;
  }
  .btn {
     display: flex;
     gap: 3rem;
     justify-content: space-between;
    color: black;
    background-color: white;
    width: 12rem;
    padding: .4rem;
   border-color: grey;
   border: 1px solid rgb(168, 166, 166);
   cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    line-height: .5rem;
    position: absolute;
    background-color: white;
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  /* .btn:hover, .dropdown:hover .btn {
    
  } */
  
  #slider53{
      margin-top: -350rem;
      margin-left: 28rem;
  }
  #photo{
    width: 1.8rem;
    height: 1.2rem;
    margin-left: -.2rem;
  }
  #img88{
    width: 1rem;
    height: 1rem;
    margin-left: 3rem;
    
  }
  #img91{
    width: 1rem;
    height: 1rem;
    margin-left: 3.3rem;
    
  }
  #img92{
    width: 1rem;
    height: 1rem;
    margin-left: 4.8rem;
    
  }
  #img93{
    width: 1rem;
    height: 1rem;
    margin-left:  1.15rem;
    
  }
  #img94{
    width: 1rem;
    height: 1rem;
    margin-left: 4.9rem;
    
  }
  #img95{
    width: 1rem;
    height: 1rem;
    margin-left: 6rem;
    
  }
  #img96{
    width: 1rem;
    height: 1rem;
    margin-left: 5.3rem;
    
  }
  #img97{
    width: 1rem;
    height: 1rem;
    margin-left: 3.3rem;
    
  }
  #img98{
    width: 1rem;
    height: 1rem;
    margin-left: 9rem;
    
  }
  #img99{
    width: 1rem;
    height: 1rem;
    margin-left: 1.3rem;
    
  }