*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#top{
    width:100%;
    height:100px;
    /* border: 1px solid; */
}
#top1{
    width:1193px;
    height:100%;
    /* border: 1px solid ; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top1 img:nth-child(1){
    height:100px;
    cursor: pointer;
}
#top1 img:nth-child(2){
    height: 52px;
    width:360px;
}
hr{
    border: none;
    border: 0.0001px solid #e6e7e8;
}
#mid{
    width:1193px;
    height:auto;
    box-sizing: border-box;
    margin: auto; 
}
#mid1{
    height:115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mid1 h4{
    font-size: 18px;
}
#mid1 p img{
    height:17px
}
#mid1 p{
    font-size: 14px;
    cursor: pointer;
}
#mid2{
    display: flex;
    align-items: center;
    height:45px;
    background-color: #f1f1f1;
}
#mid2 p:nth-child(1){
    width:580px;
    font-size: 14px;
    padding-left: 20px;
}
#mid2 p:nth-child(2){
    width:185px;
    text-align: center;
    font-size: 14px;
}
#mid2 p:nth-child(3){
    width:140px;
    text-align: center;
    font-size: 14px;
}
#mid2 p:nth-child(4){
    width:160px;
    text-align: center;
    font-size: 14px;
}
#mid2 p:nth-child(5){
    width:120px;
    text-align: center;
    font-size: 14px;
}
#mid3{
    height:300px;
    /* border: 1px solid; */
}
#mid4{
    height:123px;
    border: 1px solid #e6e7e8;
    display: flex;
    align-items: center;
}
#mid4 div:nth-child(1) p{
    width:394px;
    font-size: 14px;
    color:#333333;
    padding-left: 10px;
    cursor: pointer;
}
#mid4 div:nth-child(2)
{
    display:flex ;
    align-items: center;
}
#mid4 div:nth-child(2) p:nth-child(1){
    font-size: 14px;
    color: #999999;
    width:169px;
}
#total-items{
    color: black;
    font-weight: bold;
}
#mid4 div:nth-child(2) p:nth-child(2){
    font-size: 15px;
    color:#333333;
    font-weight: 700;
    width:120px;
    margin-top: -5px;
}
#currency, #total-price {
    color:red;
    font-size: 24px;
}
#mid4 div:nth-child(2) button:nth-child(3){
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#mid4 div:nth-child(2) button:nth-child(4){
    border: none;
    color: white;
    width: 238px;
    height:50px;
    background-color: red;
    font-size: 20px;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    cursor: pointer;
}
#bottom{
    width:1193px;
    height:auto;
    box-sizing: border-box;
    margin: auto; 
}
#bottom1>p{
    font-size: 18px;
    color:#333333;
    margin-top: 20px;
    margin-bottom: 10px;
}
#bottom2{
    height:290px;
}
#bottom4>p{
    font-size: 12px;
    color:#888888;
    text-align: center;
}
